body{
    width: 1380px;
    margin: 0 auto;
}
.header_loge{
    display: flex;
    justify-content: space-between;
    .header_link{
        p{
            margin-top: -15px;
        }
    }
    ol{
        list-style: none;
        display: flex;
        width: 400px;
        justify-content: space-between;
        font-weight: 700;
        .li{
            color: red;
        }
    }
}
.section_loge{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}
.main_loge{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    p{
        text-align: center;
    }
    img{
        width: 50px;
        
    }
}
.footer_loge{
    display: flex;
    justify-content: space-between;
    li{
        list-style: none;
    }
    ol{
        display: flex;
        justify-content: space-between;
        width: ;
    }
}