doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title 16 misol 
        link(rel="stylesheet" href="../../css/normalize.css")
        link(rel="stylesheet" href="../../sass/style.css")
    body 
    header.header 
        .header_loge 
            .header_link 
                h2 KATY BIKOVICHE
                p Portfolio of a product designer @theshithole
            .header_link
                ol 
                    li.li WORKS
                    li ARCHIVE
                    li INFO & CONTACT
    section.section 
        .section_loge 
            img(src="../../image/Frame 999.png" alt="")
            img(src="../../image/Frame 1000.png" alt="")
            img(src="../../image/Frame 1001.png" alt="")
            img(src="../../image/Frame 1002.png" alt="")
            img(src="../../image/Frame 1003.png" alt="")
            img(src="../../image/Frame 1005.png" alt="")
            img(src="../../image/Frame 1004.png" alt="")
    main.main 
        .main_logescknmclksnclksnclknvlwknvl'ksnvl'ksnvlskdnvlkanVLKNVKLAS'LASLNAL'VKNL'SAKVN'LSKANV'LSAKVMAS V;A
        'SLVMA
        SVLKSNV
        S'VKNLLSKV
        SD'VSKLDVNS'D:vmn'lSV]
        ' VitaeVMN
        SLKDVMs{VKMKL'NSV]
        SA;ksnvlskdnvlkanVLKNVKLASs"{VMLKMV":nmv'SA[VK'lSVW.V,LWMEVPWLEV, WEVLKWEVLKNWE VV'sLV'VWEVSVV:WLvmWPOMVL
        WEVLNKVLKWNEVW/LFKNB'O]}}'
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. A pretium elit nisi ac scelerisque. Mattis interdum tellus nulla pharetra sit eget.<br> Sollicitudin ultrices dolor, ultrices mi ut. Hendrerit odio nec vel etiam. Vitae, fusce sit id aliquet blandit risus condimentum. Urna <br> pellentesque quis ut mattis pretium aliquam arcu congue. 
            img(src="../../image/keyboard_arrow_down.png", alt="")
    footer.footer 
        .footer_loge 
            h2 K.B>
            ol 
                li Whatsapp
                li Twitter
                li Instagram
                li Behance





